*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a{
    display: block;
}

.box{
    width: 1000px;
    height: 650px;
}

.left_box{
    width: 200px;
    height: 100%;
    float: left;
}

.logo{
    width: 200px;
    height: 100px;
    background-color: green;
    float: left;
}

.menu{
    background-color: orange;
    float: left;
    position: absolute;
    top: 100px;
    z-index: 1;
    width: 200px;
    height: 550px;
}

.right_box{
    width: 800px;
    height: 100%;
    float: left;
}

.slide{
    width: 800px;
    height: 350px;
    background-color: yellow;
    float: left;
}

.contents{
    width: 800px;
    height: 200px;
}

.notice_box{
    width: 280px;
    height: 100%;
    background-color: #999;
    float: left;
}

.banner_box{
    width: 280px;
    height: 100%;
    background-color: #555;
    float: left;
}

.icon_box{
    width: 240px;
    height: 100%;
    background-color: #333;
    float: right;
}

.footer{
    width: 800px;
    height: 100px;
    float: left;
}

.down_logo{
    width: 200px;
    height: 100%;
    background-color: olive;
    float: left;
}

.copyright{
    width: 600px;
    height: 100%;
    float: left;
}

.down_menu{
    width: 100%;
    height: 50px;
    background-color: skyblue;
    float: left;
}

.copy{
    width: 100%;
    height: 50px;
    background-color: pink;
    float: left;
}

.navi{
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

.navi > li{
    float: left;
    width: 180px;
}

.navi > li > a{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

.navi > li > a:hover{
    background-color: #ccc;
    color: #000;
}

.sub{
    float: left;
    width: 180px;
    height: 160px;
    left: 180px;
    top: -20px;
    position: absolute;
    background-color: #999;
    color: #333;
    display: none;
}

.sub > li > a{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    background-color: #999;
    color: #333;
}

.sub > li > a:hover{
    background-color: #ccc;
    color: #ffff00;
}