@charset "utf-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
}

.all{
    width: 1000px;
    height: 650px;
    position: relative;
}

.left_box{
    width: 200px;
    height: 650px;
    float: left;
}

.logo{
    width: 200px;
    height: 100px;
    background-color: red;
    float: left;
}

.logo img{
    width: 100%;
    height: 100%;

}

.menu{
    width: 200px;
    height: 550px;
    background-color: orange;
    float: left;
    position: relative;
}

.navi{
    text-align: center;
    margin-top: 20px;
}

.navi  li {
    width: 180px;
    /* height: 40px; */
    line-height: 40px;
    background-color: white;
}

.navi > li >a:hover{
    background-color: #333;
    color: white;
}

.sub{
    left: 190px;
    top: 20px;
    display: none;
    position: absolute;
}

.sub > li{
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: #999;
    /* position: absolute; */
}

.sub > li >a:hover{
    background-color: #666;
    color: white;
}

.right_box{
    width: 800px;
    height: 650px;
    float: left;
}

.slide {
    float: right;
    width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.imgslide {
    width: 2400px;
}

.imgslide ul li {
    width: 800px;
    float: left;
}

.imgslide span {
    width: 400px;
    height: 50px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 50px;
    background-color: rgba(40, 40, 40, 0.5);
    margin-left: 200px;
    margin-top: 150px;
}

.imgslide img{
    width: 800px;
    height: 350px;
}

.contents{
    width: 800px;
    height: 200px;
    position: relative;
}

.c1{
    width: 300px;
    height: 200px;
    background-color: green;
    float: left;
}

.c2{
    width: 250px;
    height: 200px;
    background-color: blue;
    float: left;
}

.c3{
    width: 250px;
    height: 200px;
    background-color: navy;
    float: right;
}

.footer{
    width: 800px;
    height: 100px;
}

.footer_banner{
    width: 200px;
    height: 100px;
    background-color: purple;
    float: left;
}

.copy{
    width: 400px;
    height: 100px;
    background-color: aqua;
    float: left;
}

.sns{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    float: left;
}