@charset "utf-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: black;
}

a{
    display: block;
    text-decoration: none;
}

.all{
    width: 1200px;
    height: 700px;
}

.header{
    width: 1200px;
    height: 100px;
}

.logo{
    width: 200px;
    height: 100px;
    float: left;
}

.logo img{
    width: 200px;
    height: 100px;
}

.menu{
    width: 1000px;
    height: 100px;
    float: left;
    position: relative;
}

.navi{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.navi li{
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    background-color: aqua;
}

.navi > li > a:hover{
    background-color: aquamarine;
    color: white;
}

.sub{
    display: none;
}

.sub > li {
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: turquoise;
}

.sub > li > a:hover{
    background-color: teal;
    color: white;
}

.slide{
    width: 1200px;
    height: 300px;
    overflow: hidden;position: relative;
}

.slide img{
    width: 1200px;
    height: 300px;
    object-fit: cover;
}

.imgslide{
    height: 900px;
}

.imgslide a{
    height: 300px;
}

.imgslide  span{
    position: absolute;
    width: 500px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(5, 4, 4,0.5);
    text-align: center;
    margin-top: 125px;
    margin-left: 350px;
}

.contents{
    width: 1200px;
    height: 200px;
}

.c1{
    width: 400px;
    height: 200px;
    float: left;
}

.c1 img{
    width: 100px;
    height: 100px;
    float: left;
}

.c2{
    width: 400px;
    height: 200px;
    float: left;
}

.c2 img{
    width: 380px;
    height: 180px;
}

.c3{
    width: 400px;
    height: 200px;
    float: right;
}

.c3 img{
    width: 380px;
    height: 180px;
}

footer{
    width: 1200px;
    height: 100px;
}

.footer-logo{
    width: 200px;
    height: 100px;
    float: left;
}

.footer-logo img{
    width: 200px;
    height: 100px;
}

.copy{
    width: 700px;
    height: 100px;
    float: left;
}

.sns{
    width: 300px;
    height: 100px;
    float: left;
}

.sns img{
    width: 50px;
    height: 50px;
    float: left;
}